.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: #5a83de;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.node-rect {
	
}

.node-rect-closed {
	stroke-width: 1px;
	stroke: #7977FF
}

.link {
	fill: none;
	stroke: lightsteelblue;
	stroke-width: 2px;
}

.linkselected {
	fill: none;
	stroke: tomato;
	stroke-width: 2px;
}

.normalArrow {
	fill: lightsteelblue;
	stroke-width: 1px;
}

.coloredArrow {
	fill: tomato;
	stroke-width: 1px;
}

.link text {
	font: 7px sans-serif;
	fill: #CC0000;
}