text, .axis text {
  font-size: 0.75em;
}

.tick text, .axis-label{
  fill: #6b6b6b;
}

.tick line {
fill: none;
stroke: #d9d9d9;
stroke-width: 1px;
stroke-dasharray: 2,2;
}

.center-text {
  margin: 0;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.alarms-text {
  margin: 0;
  font-size: 0.9em;
  position: absolute;
  top: 35%;
  left: 35%;
  margin-right: -15%;
  transform: translate(-40%, -35%)
}

.inline-alarms {
  margin: 0;
  font-size: 1em;
  display: inline-flex;
  flex-direction: row;
}

.inline-alarms-center-text {
  margin: 0;
  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}