.filter {
  position: relative;
  flex: 1;
  padding-right: 5px;
}

.filter-icon {
  position: absolute;
  top: 0px;
  right: 10px;
}

.submit-icon {
  position: absolute;
  top: 0px;
  right: 4px;
}

.react-filter-box {
  box-shadow:  -2px 3px 5px 0px rgba(0, 0, 0, 0.075)
}

.pad-4 {
  padding: 4px;
}

.search-label {
  flex: 'none';
  font-size: 14px;
  padding-top: 10px
}