.markerClusterLabel {
    position: absolute;
    top: 0px;
    left: 0px;
    color: black;
    font-size: 11px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    width: 56px;
    line-height: 56px;
}